<div class="bg-white rounded overflow-hidden shadow-lg mt-32 p-10 w-2/5 mx-auto my-0">
  <h2 class="text-gray-700 font-bold text-4xl mb-10">Edit Profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold -mb-4" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-400 transition duration-200" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, class: "text-indigo-300 text-sm mt-4" %> <i class="text-indigo-300 text-sm mt-4">(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" , class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-400 transition duration-200"%>
      <% if @minimum_password_length %>
        <br />
        <em class="text-indigo-300 text-sm mt-4"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <br>

    <div class="field">
      <%= f.label :password_confirmation,class: "block text-gray-700 text-sm font-bold -mb-4" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-400 transition duration-200" %>
    </div>

    <div class="field mt-2">
      <%= f.label :current_password, class: "text-gray-700 text-sm font-bold -mb-4 pt-4"%> <i class="text-gray-700 text-sm font-bold -mb-4 pt-4">(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password",class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-400 transition duration-200" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "shadow bg-yellow-500 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded transition duration-200 mt-10 w-full" %>
    </div>
  <% end %>

  <h3 class="text-gray-700 font-bold text-2xl mb-4 mt-10">Delete my account</h3>

  <p><%= button_to "Delete Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "shadow bg-red-500 hover:bg-red-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded transition duration-200 w-full" %></p>
</div>
