<div class="bg-white rounded overflow-hidden shadow-lg mt-32 p-10 w-1/2 mx-auto my-0">
  <h2 class="text-gray-700 font-bold text-4xl mb-10">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "block text-gray-700 text-sm font-bold -mb-4" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-400 transition duration-200" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "block text-gray-700 text-sm font-bold mt-3 " %>
      <% if @minimum_password_length %>
      <em class="block text-gray-700 text-sm -mb-4 ">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-400 transition duration-200" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mt-3 -mb-4 " %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-400 transition duration-200" %>
    </div>

    
      <div class="actions">
        <%= f.submit "Sign up",class: "shadow bg-yellow-500 hover:bg-yellow-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded transition duration-200 mt-20 float-right" %>
      </div>
      <%# <%= render "devise/shared/links"%> 

  <% end %>

  
</div>