<div class="bg-white rounded overflow-hidden shadow-lg mt-32 p-10 w-1/2 mx-auto my-0">
  <div class="w-1/2 my-0 mx-auto">
    <h2 class="text-2xl text-gray-700 font-bold my-5 mb-10">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email , class: "block text-gray-700 text-sm font-bold -mb-4"%><br />
        <%= f.email_field :email, autofocus: true,placeholder:"Email", autocomplete: "email",class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-pink-400 transition duration-200" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions",class: "shadow bg-pink-500 hover:bg-pink-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded transition duration-200 mt-10 w-full" %>
      </div>
    <% end %>

  </div>
</div>