<%= stylesheet_link_tag "login" %>

<div class="login-page">
  <div class="login-block">

    <h1 class="font-bold text-3xl text-gray-700 ">Sign in</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="w-3/4 mx-auto my-0">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Email",class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-pink-400 transition duration-200 mt-14 mb-5" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password",class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-pink-400 transition duration-200" %>
        </div>

        <div class="w-full text-left mt-5 mb-10 text-gray-400 text-sm">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me, class:"text-pink-600"%>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>

          <div class="actions">
            <%= f.submit "Sign in", class: "w-full mt-5 shadow bg-pink-500 hover:bg-pink-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded transition duration-200"%>
          </div>
        <% end %>

      <div class="flex justify-between mt-10 text-gray-400 text-sm">
        <div>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name)%><br />
          <% end %>
        </div>
        <div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name)%><br />
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>