<!DOCTYPE html>
<html>
  <head>
    <title>Stockapp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
  </head>

  <body>
    <%if user_signed_in?%>
      <nav class="bg-white flex justify-between space-y-2 p-5 shadow bg-opacity-90 items-center">
        <img src="/assets/logo.png" style="width: 40px; height:42px" >
        <h3 class="text-gray-700 text-2xl antialiased font-semibold font-name">Inventory Management</h3>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete ,class: "bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded transition duration-200"%>
      </nav>
    <%end%>
    <%= yield %>
  </body>
</html>
